{% extends 'main/based.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<br>
<h1>About US</h1>
<span>
    <stong>Information about us!</stong>
    <hr>
    <br>

    Reddit (/ˈrɛdɪt/; Rus. Reddit)[7] is a site that combines the characteristics of social networks and forums, on which users are registered who have links to any information they
    like on the Internet and discuss it[8]. Like many other similar sites, Reddit contains a blocking view of liked messages - the most popular of them are on the main page of the site[9].
    One of the most popular websites in the world, ranked 21st in terms of traffic according to Alexa Internet[6] and SimilarWeb[2].

    The creators explain the name "Reddit" as a play on words from the English. "I read this on Reddit"[10] (Russian: "I read this on Reddit").
</span>
{% endblock %}

